<footer class="footer">
        <section class="footer2">
            <section class="footermidia">
                <p>Conheça mais sobre nossa empresa e nossa missão.</p>
            </section>
            <section class="footermidia">
                <ul>
                    <li><a href="ajuda.html">Política de Privacidade</a></li>
                    <li><a href="ajuda.html">Termos de Serviço</a></li>
                    <li><a href="ajuda.html">FAQ</a></li>
                </ul>
            </section>
            <section class="footermidia">
                <p>Email: atendimentogymbros@gmail.com</p>
                <p>Telefone: (11) 4002-8922</p>
            </section>
        </section>
        <section class="footersocial">
            <a href="https://www.instagram.com/gym_brosbr?igsh=MXBrY2ZvaXMwYzcyeA==" target="_blank">
                <img src="images/instagram.png" width="40px">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61579293421448" target="_blank">
                <img src="images/facebook.png" width="40px">
            </a>
            <a href="https://x.com/bros_gym23435/with_replies" target="_blank">
                <img src="images/twitter.png" width="40px">
            </a>
        </section>
        <section class="footercopy">
            <p>&copy; 2025 GymBros. Todos os direitos reservados.</p>
        </section>
    </footer>