<footer class="footer">
        <section class="footer2">
            <section class="footermidia">
                <p data-translate-api>Conheça mais sobre nossa empresa e nossa missão.</p>
            </section>
            <section class="footermidia">
                <ul>
                    <li><a href="ajuda.html" data-translate="footer.privacy">Política de Privacidade</a></li>
                    <li><a href="ajuda.html" data-translate="footer.terms">Termos de Serviço</a></li>
                    <li><a href="ajuda.html" data-translate="footer.faq">FAQ</a></li>
                </ul>
            </section>
            <section class="footermidia">
                <p>Email: atendimentogymbros@gmail.com</p>
                <p>Telefone: (11) 4002-8922</p>
            </section>
        </section>
        <section class="footersocial">
            <a href="https://www.instagram.com/gym_brosbr?igsh=MXBrY2ZvaXMwYzcyeA==" target="_blank" rel="noopener" aria-label="Instagram do GymBros">
                <img src="/images/instagram.png" alt="Instagram GymBros" width="40" height="40" loading="lazy">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61579293421448" target="_blank" rel="noopener" aria-label="Facebook do GymBros">
                <img src="/images/facebook.png" alt="Facebook GymBros" width="40" height="40" loading="lazy">
            </a>
            <a href="https://x.com/bros_gym23435/with_replies" target="_blank" rel="noopener" aria-label="X (Twitter) do GymBros">
                <img src="/images/twitter.png" alt="X (Twitter) GymBros" width="40" height="40" loading="lazy">
            </a>
        </section>
        <section class="footercopy">
            <p data-translate="footer.copy">&copy; 2025 GymBros. Todos os direitos reservados.</p>
        </section>
    </footer>
