<header class="gymbros-header">
        <section class="header-container">
            <section class="menu-icon" id="menuToggle">
                <i class="fas fa-bars"></i>
            </section>
            <section class="logo">
                <a href="/">
                <img src="/images/logo.png" alt="GymBros Logo">
                <span>GymBros</span>
                </a>
            </section>
            <a href="/login" class="user-icon">
                <i class="fas fa-user"></i>
            </a>
        </section>
    </header>